2933258442/resource/entity/inventory/-weapon/-small_arms/garand_scope/garand_scope33.mdl
2933258442/resource/entity/inventory/-weapon/-small_arms/garand_scope/garand_scope2.mdl
2933258442/resource/entity/inventory/-weapon/-small_arms/garand_scope.7z
